.logo {
  width:100%;
  height:auto;
}

* {
  margin:0px;
  padding:0px;
}

@media screen and (max-width: 767px) {
  .logo {
    width:160%;
    height:auto;
    margin-right:auto;
    overflow:hidden;
  }
  .virus-img {
    top:0% !important;
    left:-33.8% !important;
  }
/*
  .main {
    top:45% !important;
  } */
}

.main {
  z-index:5;
  position:absolute;
  background-color: black;
  height:2000px;
  /* top:100%; */
  width:100%;
}

.bogo2 {
  opacity:0;
}

.space {
  height:100px;
}

.yt-box {
  height:300px;
  display:flex;
}

.y1, .y2, .y3 {
    flex-grow:1;
}

.frame{
  height:100%;
  width:100%;
}
