.logo {
  width:100%;
  height:auto;
}

* {
  margin:0px;
  padding:0px;
}

@media screen and (max-width: 767px) {
  .logo {
    width:160%;
    height:auto;
    margin-right:auto;
    overflow:hidden;
  }
}

.main {
  z-index:5;
  position:absolute;
  background-color: black;
  height:2000px;
  top:90%;
  width:100%;
}
